<h2>Calculator</h2>
<%= form_for @credit, url: '/calculator/show' do |f| %>
    <%= f.label :type, 'Type:' %>
    <%= f.select :type, options_for_select([['Annual by months', 0], ['Annual by pay', 1], ['Differential', 2]], @credit.type) %>
    <%= f.label :amount, 'Credit sum:' %>
    <%= f.text_field :amount %>
    <%= f.label :interest, 'Interest_rate:' %>
    <%= f.text_field :interest %>
    <%= f.label :months, 'Months:' %>
    <%= f.text_field :months %>
    <%= f.label :pay_monthly, 'Pay monthly:' %>
    <%= f.text_field :pay_monthly %>
    <%= f.submit "Calc this!" %>
    <% if @credit.amount then %>
        <h3>Payment graph</h3>
        Total paid: <%= (@credit.amount + @credit.get_total_interest).to_i %> <br/>
        Total percent paid: <%= @credit.get_total_interest.to_i %>
        <table>
          <tr>
            <th>No</th>
            <th>Payment</th>
            <th>Interest payment</th>
            <th>Body payment</th>
            <th>Credit rest</th>
          </tr>
          <% @credit.get_payment_table.each do |row| %>
              <tr>
                <td><%= row[0] %></td>
                <td><%= (row[1] + row[2]).to_i %></td>
                <td><%= row[1].to_i %></td>
                <td><%= row[2].to_i %></td>
                <td><%= row[3].to_i %></td>
              </tr>
          <% end %>
        </table>
    <% end %>
<% end %>
