#encoding:utf-8

<h1>Кредитный калькулятор</h1>
    <div class="btn-group" data-toggle="buttons-radio">
      <button class="btn" onclick="return set_controls_credittype('annual_by_payment');" href='#'>Аннуитет по сроку</button>
      <button class="btn" onclick="return set_controls_credittype('annual_by_period');" href='#'>Аннуитет по платежу</button>
      <button class="btn" onclick="return set_controls_credittype('differential');" href='#'>Дифференцированный платёж</button>
    </div>
<%= form_for @credit, url: '/calculator/show', method: 'get' do |f| %>
    <%= f.label :type, 'Тип кредита:' %>
    <span id="sss">111</span>
    <%= f.hidden_field :type %>

    <!--<%= f.select :type, options_for_select([['Аннуитет по сроку', 0], ['Аннуитет по платежу', 1], ['Дифференцированный платёж', 2]], @credit.type) %>-->

        <%= f.label :amount, 'Сумма кредита:' %>
        <%= f.text_field :amount %>
        <%= f.label :interest, 'Процентная ставка:' %>
        <%= f.text_field :interest %>
        <%= f.label :months, 'Срок, месяцев:' %>
        <%= f.text_field :months %>
        <%= f.label :pay_monthly, 'Ежемесячный платёж:' %>
        <%= f.text_field :pay_monthly %>
        <%= f.submit "Рассчитать!" %>
<% end %>

    <% if @credit.amount then %>
        <div id='table'>
          <h2>Рассчитанные параметры кредита</h2>
          <table class="table">
            <tr>
              <td>Сумма кредита:</td>
              <td><%= format_summ @credit.amount %></td>
            </tr>
            <tr>
              <td>Срок кредитования:</td>
              <td> <%= int_to_s_or_empty(@credit.months / 12, " лет ") + int_to_s_or_empty(@credit.months % 12, " месяцев") %>
              </td>
            </tr>
            <% if @credit.type < 2 %>
                <tr>
                  <td>Ежемесячный платёж:</td>
                  <td>  <%= format_summ @credit.pay_monthly %>
                  </td>
                </tr>
            <% end %>
            <tr>
              <td>Сумма процентов:</td>
              <td> <%= format_summ @credit.get_total_interest.to_i %></td>
            </tr>

          </table>
          <hr />
          <div class="span6">
          <h2>Таблица платежей</h2>
          <table class="table table-condensed table-stripped" style="text-align: right">
            <tr>
              <th style="text-align: right">№</th>
              <th style="text-align: right">Платёж</th>
              <th style="text-align: right">Проценты</th>
              <th style="text-align: right">Гашение кредита</th>
              <th style="text-align: right">Остаток кредита</th>
            </tr>
            <% @credit.get_payment_table.each do |row| %>
                <tr >
                  <td style="text-align: right"><%= row[0] %></td>
                  <td style="text-align: right"><%= format_summ (row[1] + row[2]).to_i %></td>
                  <td style="text-align: right"><%= format_summ row[1].to_i %></td>
                  <td style="text-align: right"><%= format_summ row[2].to_i %></td>
                  <td style="text-align: right"><%= format_summ row[3].to_i %></td>
                </tr>
            <% end %>
          </table>
          </div>
        </div>
    <% end %>
